@tailwind base;
@tailwind components;
@tailwind utilities;

.card-tailwind {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-tailwind:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-hover-zoom {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover-zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}
